<div id="regist">
    
    <form action="/regist" method="post">
        
        <input ng-model="name" type="text" name="name" placeholder="Имя">
        <input ng-model="login" type="text" name="login" placeholder="Логин">
        <input ng-model="email" type="text" name="email" placeholder="E-mail">
        <input ng-model="password" type="password" name="password" placeholder="Пароль">
        <button class="enterIntoApp" type="button" ng-click="onRegistClick()">Зарегистриваться</button>
        
    </form>
    
</div>