@import "compass/reset"
@import "compass/css3"

h1
    text-align: center
    margin: 10px 0
    font-size: 2em
    
h2
    text-align: center
    margin: 10px 0
    font-size: 1.5em
    
h3
    font-size: 1.25em
    margin: 10px 0

table
    width: 100%
    
th, td
    padding: 10px
    border: 1px solid #ccc
    
th
    text-align: center
   
.row-6
    display: inline-block
    margin: 0 -10px
    vertical-align: top
    width: 50%
    
.container
    margin: 0 10px